<h1>New question</h1>

<form id="new-question" name="question">
  <div class="field">
    <label for="qc"> qc:</label>
    <input type="text" name="qc" id="qc" value="<%= qc %>" >
  </div>

  <div class="field">
    <label for="literal"> literal:</label>
    <input type="text" name="literal" id="literal" value="<%= literal %>" >
  </div>

  <div class="field">
    <label for="topic"> topic:</label>
    <input type="text" name="topic" id="topic" value="<%= topic %>" >
  </div>

  <div class="field">
    <label for="max_x"> max_x:</label>
    <input type="text" name="max_x" id="max_x" value="<%= max_x %>" >
  </div>

  <div class="field">
    <label for="max_y"> max_y:</label>
    <input type="text" name="max_y" id="max_y" value="<%= max_y %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Question" />
  </div>

</form>

<a href="#/index">Back</a>