<td><%= qc %></td>
<td><%= literal %></td>
<td><%= topic %></td>
<td><%= max_x %></td>
<td><%= max_y %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
