<p>
  <b>Qc:</b>
  <%= qc %>
</p>

<p>
  <b>Literal:</b>
  <%= literal %>
</p>

<p>
  <b>Topic:</b>
  <%= topic %>
</p>

<p>
  <b>Max x:</b>
  <%= max_x %>
</p>

<p>
  <b>Max y:</b>
  <%= max_y %>
</p>


<a href="#/index">Back</a>