<td><a href="#/<%= id %>"><%= prefix %></a></td>
<td><%= port %></td>
<td><%= study %></td>

<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
