<% if (variable.questions.count + variable.src_variables.count) < 1 %>
  <select class="topic-selector" data-type="variable" data-id="<%= variable.id %>">
    <option value="0">None</option>
    <% @topics.each do |topic| %>
      <option value="<%= topic.id %>" class="level-<%= topic.get_level %>" <%= topic == variable.topic ? 'selected="selected"' : '' %>><%= raw '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' * (topic.get_level - 1) %><%= topic.name %></option>
    <% end %>
  </select>
<% else %>
  <%= variable.get_topic.nil? ? 'None' : variable.get_topic.name %>
<% end %>
