<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefix %><br>
    <%= f.text_field :prefix %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.text_field :port %>
  </div>
  <div class="field">
    <%= f.label :study %>
    <%= select_tag(:study, options_for_select([['ALSPAC','ALSPAC'],['BCS70','BCS'],['HCS','HCS'],['MCS','MCS'],['NCDS','NCDS'],['NSHD','NSHD'],['SWS','SWS'],['US','US']])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
