<p id="notice"><%= notice %></p>

<h1>Listing Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Port</th>
      <th>Questions</th>
      <th>Variables</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.prefix %></td>
        <td><%= instrument.port %></td>
        <td><%= instrument.questions.count() %></td>
	<td><%= instrument.variables.count() %></td>
        <td class='show'><%= link_to 'Show', instrument, title: "Show" %></td>
        <td class='question'><%= link_to 'Questions', instrument_questions_path(instrument), title: "Add Question" %></td>
        <td class='variable'><%= link_to 'Variables', instrument_variables_path(instrument), title: "Add Variable" %></td> 
        <td class='edit'><%= link_to 'Edit', edit_instrument_path(instrument), title: "Edit" %></td>
        <td class='destroy'><%= link_to 'Destroy', instrument, method: :delete, title: "Delete", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_instrument_path %>
