<%= javascript_include_tag '//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js' %>
<%= stylesheet_link_tag '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css' %>

<h1>
  <%= @instrument.prefix %>
  :
  <%= @instrument.port %>
</h1>

<div id="tabs">
  <ul>
    <li><a href="#question-tab">Questions</a></li>
    <li><a href="#variable-tab">Variables</a></li>
  </ul>
<div id="question-tab">
  <table id="questions" style="width: 800px;">
    <thead>
      <tr>
        <th style="width: 100px;">Qc</th>
        <th style="width: 360px;">Literal</th>
        <th style="width: 240px">Variables</th>
        <th style="width: 100px;">Actions</th>
      </tr>
    </thead>
  </table>
</div>
<div id="variable-tab">
<table id="variables" style="width: 800px;">
  <thead>
    <tr>
      <th style="width: 100px;">Name</th>
      <th style="width: 360px;">Label</th>
      <th style="width: 240px">Questions</th>
      <th style="width: 100px;">Actions</th>
    </tr>
  </thead>
</table>
</div>

<div id="qlist-import" class="dialog" title="Import qlist.txt">
  <%= form_for @instrument, :url => {:action => 'import_qlist'} do |f| %>
    <%= f.file_field :qlist %>
    <div class="actions">
      <%= f.submit 'Upload qlist.txt' %>
    </div>
  <% end %>
</div>

<div id="variables-import" class="dialog" title="Import variables">
  <%= form_for @instrument, :url => {:action => 'import_variables'} do |f| %>
    <%= f.file_field :variables %>
    <div class="actions">
      <%= f.submit 'Upload Variables' %>
    </div>
  <% end %>
</div>

<div id="map-import" class="dialog" title="Import mapping">
  <%= form_for @instrument, :url => {:action => 'import_map'} do |f| %>
    <%= f.file_field :map %>
    <div class="actions">
      <%= f.submit 'Upload Map' %>
    </div>
  <% end %>
</div>

<% content_for :footer do %>
<%= link_to 'Back', instruments_path, class: 'back', title: 'Back to Instruments' %>
<%= link_to 'Edit', edit_instrument_path(@instrument), class: 'edit', title: 'Edit Instrument' %> 
<%= link_to 'Import qlist', '#', :onclick => 'jQuery("#qlist-import").dialog("open")' %>
<%= link_to 'Import variables', '#', :onclick => 'jQuery("#variables-import").dialog("open")' %>
<%= link_to 'Import map', '#', :onclick => 'jQuery("#map-import").dialog("open")' %>
<% end %>

<% content_for :javascript do %>
  var variables = [
    <% cs_vars = @instrument.get_comma_separated_variables %>
    <% if not cs_vars.blank? %>
    <%=raw '"' + cs_vars.gsub(',', '","') + '"' %>  
    <% end %>
  ]
<% end %>
