<h1>
  <%= @instrument.prefix %>
  :
  <%= @instrument.port %>
</h1>

<div id="tabs">
  <ul>
    <li><a href="#question-tab">Questions</a></li>
    <li><a href="#variable-tab">Variables</a></li>
    <li><a href="#sequence-tab">Sequences</a></li>
  </ul>
<div id="question-tab">
  <table id="questions">
    <thead>
      <tr>
        <th style="width: 50px;">ID</th>
        <th style="width: 80px;">Qc</th>
        <th style="width: 360px;">Literal</th>
        <th style="width: 180px">Variables</th>
        <th style="width: 80px">Topic</th>
        <th style="width: 50px;">Actions</th>
      </tr>
    </thead>
  </table>
</div>
<div id="variable-tab">
  <table id="variables">
    <thead>
      <tr>
        <th style="width: 30px;">ID</th>
        <th style="width: 80px;">Name</th>
        <th style="width: 60px;">Type</th>
        <th style="width: 270px;">Label</th>
        <th style="width: 80px">Used In</th>
        <th style="width: 170px">Sources</th>
        <th style="width: 160px">Topic</th>
        <th style="width: 50px;">Actions</th>
      </tr>
    </thead>
  </table>
</div>
<div id="sequence-tab">
  <table id="sequences">
    <thead>
      <tr>
        <th style="width: 50px;">ID</th>
        <th style="width: 460px;">Text</th>
        <th style="width: 240px">Topic</th>
        <th style="width: 50px;">Actions</th>
      </tr>
    </thead>
  </table>
</div>
</div>

<div id="variables-import" class="dialog" title="Import variables">
  <%= form_for @instrument, :url => {:action => 'import_variables'} do |f| %>
    <%= f.file_field :variables %>
    <div class="actions">
      <%= f.submit 'Upload Variables' %>
    </div>
  <% end %>
</div>

<% if current_user.admin? %>

<div id="qlist-import" class="dialog" title="Import qlist.txt">
  <%= form_for @instrument, :url => {:action => 'import_qlist'} do |f| %>
    <%= f.file_field :qlist %>
    <div class="actions">
      <%= f.submit 'Upload qlist.txt' %>
    </div>
  <% end %>
</div>

<div id="caddies-import" class="dialog" title="Import mapper.txt">
  <%= form_for @instrument, :url => {:action => 'import_from_caddies'} do |f| %>
    <%= f.file_field :mapper %>
    <div class="actions">
      <%= f.submit 'Upload mapper.txt' %>
    </div>
  <% end %>
</div>

<div id="map-import" class="dialog" title="Import mapping">
  <%= form_for @instrument, :url => {:action => 'import_map'} do |f| %>
    <%= f.file_field :map %>
    <div class="actions">
      <%= f.submit 'Upload Map' %>
    </div>
  <% end %>
</div>

<div id="dv-import" class="dialog" title="Import DV">
  <%= form_for @instrument, :url => {:action => 'import_dv'} do |f| %>
    <%= f.file_field :dv %>
    <div class="actions">
      <%= f.submit 'Upload DV' %>
    </div>
  <% end %>
</div>

<div id="linking-import" class="dialog" title="Import topic linking">
  <%= form_for @instrument, :url => {:action => 'import_linking'} do |f| %>
    <%= f.file_field :linking %>
    <div class="actions">
      <%= f.submit 'Upload linking' %>
    </div>
  <% end %>
</div>

<% end %>

<select id="original-topic-selector" class="topic-selector">
  <option value="-1">
    -- Inherit --
  </option>
  <% @topics.each do |topic| %>
  <option value="<%= topic.id %>" class="level-<%= topic.get_level %>">
    <%= raw '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' * (topic.get_level - 1) %><%= topic.name %>
  </option>
  <% end %>
</select>

<% content_for :footer do %>
<%= link_to 'Back', instruments_path, class: 'back', title: 'Back to Instruments' %>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_instrument_path(@instrument), class: 'edit', title: 'Edit Instrument' %> 
  <%= link_to 'Import qlist', '#', :onclick => 'jQuery("#qlist-import").dialog("open")' %>
  <%= link_to 'Import From Caddies', '#', :onclick => 'jQuery("#caddies-import").dialog("open")' %>
  <%= link_to 'Import variables', '#', :onclick => 'jQuery("#variables-import").dialog("open")' %>
  <%= link_to 'Import map', '#', :onclick => 'jQuery("#map-import").dialog("open")' %>
  <%= link_to 'Import DV', '#', :onclick => 'jQuery("#dv-import").dialog("open")' %>
  <%= link_to 'Import topics', '#', :onclick => 'jQuery("#linking-import").dialog("open")' %>
<% else %>
  <%= link_to 'Import variables', '#', :onclick => 'jQuery("#variables-import").dialog("open")' %>
<% end %>
<% end %>

<% content_for :javascript do %>
  var variables = [
    <% cs_vars = @instrument.get_comma_separated_variables %>
    <% if not cs_vars.blank? %>
    <%=raw '"' + cs_vars.gsub(',', '","') + '"' %>  
    <% end %>
  ];
  var questions = [
    <% cs_qs = @instrument.get_comma_separated_questions %>
    <% if not cs_qs.blank? %>
    <%=raw '"' + cs_qs.gsub(',', '","') + '"' %>  
    <% end %>
  ];
  var topics_lvl_one = [
    <% cs_ts = Topic.get_comma_separated_topics(1) %>
    <% if not cs_ts.blank? %>
    <%=raw '"' + cs_ts.gsub(',', '","') + '"' %>
    <% end %>
  ];
<% end %>
