<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @instrument.prefix %>
</p>

<p>
  <strong>Port:</strong>
  <%= @instrument.port %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
