<!DOCTYPE html>
<html>
<head>
  <title>Mapper</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="banner">
    <h1>CLOSER Mapper</h1>
  </div>

  <div id="navi">
  <%= render_navigation %>
  </div>
</header>

<div id="wrapper">

<% if notice %>
  <div class="notice">
    <p class="alert alert-success"><%= notice %></p>
    <% if more_notice %>
      <p class="more"><%= more_notice.html_safe %></p>
    <% end %>
  </div>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= content_for?(:content) ? yield(:content) : yield %>

</div>

<% if content_for?(:javascript) then %>
<script type="text/javascript">
<%= yield(:javascript) %>
</script>
<% end %>

</body>
</html>
