<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sequence.name %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @sequence.instrument %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @sequence.parent %>
</p>

<%= link_to 'Edit', edit_sequence_path(@sequence) %> |
<%= link_to 'Back', sequences_path %>
